<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{title}}</title>
</head>
<body class="w-full h-screen bg-[#2A3335] relative">
   <main class="w-[96%] mx-auto">
     <header class="w-full h-[10vh] flex items-center justify-around bg-[#79D7BE] rounded-b-md shadow-lg shadow-cyan-500/50">
            <h1 class="text-2xl">Instrument Classification Model</h1>
            <nav class="flex gap-4">
                <a href="/" class="hover:text-gray-600">Home</a>
                <a href="/about" class="hover:text-gray-600">About</a>
            </nav>
        </header>
        <section class="h-[60vh] w-full flex items-center justify-center mt-8 bg-[#ffffff33] text-white rounded-md shadow-lg shadow-gray-100/50">
            <h1 class="text-2xl">
                This is a flask API for classification of instruments
            </h1>
        </section>
   </main>
</body>
</html>